*.xlsx
images/et-image-import-creator/out/
images/et-image-import-creator/temp.xlsx
images/et-img-manifest/out/
netsuite/netsuite-item-creator/Real Product Add Item Files/
netsuite/netsuite-item-creator/Real Product UOM Files/
netsuite/netsuite-item-creator/Sample Product Add Item Files/
netsuite/netsuite-item-creator/Sample Product UOM Files/
netsuite/netsuite-item-creator/V Code and E code Link/
netsuite/netsuite-item-creator/V Code Sample Product Add Item Files/
netsuite/netsuite-item-creator/V Code Sample Product UOM Files/
qr-code/qr code generator/qrs/
shopify/shopify-item-creator/Filtered Data/
shopify/shopify-item-creator/Import Files/
shopify/shopify-sample-creator/cut samples out/
shopify/shopify-sample-creator/real product mapping/
ETlib.py